body {
  background-image: url("img/fundo_final.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
}


.pagina {
  border: 1px dotted #ccbb99; 
  margin-left: 15%;
  margin-right: 15%;
  color: #f5e6c8; 
}


.titulo {
  background-color: #d2c3a5; 
  color: #000;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
}


.conteudo {
  display: flex;
  padding: 20px;
}


.conteudo img {
  width: 300px;
  margin-right: 20px;
  border: 2px solid #ccbb99;
}


.conteudo p {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  font-size: 14px;
  line-height: 1.6;
}


.rodape {
  background-color: #d2c3a5;
  color: black;
  font-size: 12px;
  padding: 6px 10px;
}