body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #222;
    text-align: center;
    margin: 40px;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    display: inline;
    margin: 0 10px;
}

a{
    text-decoration: none;
    color: greenyellow;
}

a:link, a:active{
    color: white;
    background-color: black;
    padding: 3px 6px;
    border-radius: 4px;
}

img{
    margin: 10px;
    border-radius: 8px;
    width: 40px;
}