table {
    border-collapse: collapse;
    margin-bottom: 30px;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}



.filmes th {
    background-color: #ddd;
    font-weight: bold;
}



.alimentos td, .alimentos th {
    text-align: center;
}



.damas td {
    width: 50px;
    height: 50px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}


/* 6) Tabela zebrada */
.zebrada tr:nth-child(even) {
    background-color: #f2f2f2;
}

.zebrada th {
    background-color: #ccc;
}
