#primeira, #segunda, #terceira, #quarta {
    background-color: blue;
    color: white;
}

#primeira { margin-bottom: 1px;}

#segunda {
    margin-top: 3px;
}
#segunda {
    margin-left: 200px;
    margin-right: 200px;
}

#terceira { padding: 10px; margin-bottom: 5px;}

#quarta {
    padding-left: 10px;
    padding-right: 10px;
}

#quinta {
    margin-top: 10px;
    padding: 10px;
    background-color: gray;
    color: white;
    border: 2px solid black;
}

#sexta {
    border-bottom: 1px dotted black;
}